Buongiorno {{ subscriber.name }},<br><br>

<b>si comunica che la “Pillola” su ammortizzatori sociali prevista per oggi è rinviata a data da destinarsi.<br>
La nuova data dell'evento vi sarà comunicata quanto prima.</b><br><br><br>

Se vuoi modificare le tue iscrizioni alle pillole informative, vai a questo link: 
<a href="{{REGISTRATION_URL}}">{{REGISTRATION_URL}}</a><br><br>

Puoi visualizzare le registrazioni delle precedenti pillole informative a questo indirizzo:
<a href="{{VIDEOTECA_URL}}" target="_blank">{{VIDEOTECA_URL}}</a>