{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools %}
    {% if change and not is_popup %}
        <ul class="object-tools">
            <li>
                <a href="{{ video_extract_frames_url }}" class="button" style="background-color: #f0ad4e; color: white;">
                    {% trans "Extract frames from video" %}
                </a>
            </li>
            <li>
                <a href="{{ calculate_video_duration_url }}" class="button" style="background-color: #f0ad4e; color: white;">
                    {% trans "Calculate video duration and resolution" %}
                </a>
            </li>
        </ul>
    {% endif %}
    {{ block.super }}
{% endblock %}
